<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>guess List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
   <h1 >Tässä lista arvauksista </h1>

    <p>
   <table>
        <tr>
            <th> id</th>
            <th>Guess</th>
        </tr>

        <tr th:each="guess : ${guesses}">

            <td>
                <span th:text="${guess.Id}"></span>
            </td>

            <td>
                <span th:text="${guess.guess}"></span>
            </td>

        </tr>

    </table>
    </p>

    <p><a th:href="@{/index}" class="btn btn-success">go to index</a></p>


</body>

</html>