<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Teretulemast f1 maailmaan</title>
</head>
<body>
    <h1>
        HEllou welecome!!
    </h1>

    <p><a th:href="@{/guesslist}" class="btn btn-success">See all guesses</a></p>


</body>
</html>