<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <title>Teretulemast f1 maailmaan</title>
</head>

<body>
    <!-- HEADER -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="index" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="guesslist" class="nav-link">Guesses</a></li>
                <li class="nav-item"><a href="selectlaps" class="nav-link active">Laptimes</a></li>
                <li class="nav-item"><a href="newguess" class="nav-link">New Guess</a></li>
                <li class="nav-item list-group-item-danger "><a href="#" class="nav-link">Log out</a></li>
            </ul>
        </header>
    </div>

    <!-- https://getbootstrap.com/docs/3.4/css/ Täällä dokumentaatio -->

    <!-- TEKSTI -->
    <div class="container">
        <h1>
            LAPTIMES 2222222222222222
        </h1>

        <h1>Selected Race and Driver</h1>

        <!-- TOIMIVAT!!!! -->
        <!--         <h2>Selected Driver ID: <span th:text="${selectedDriverId}"></span></h2>
        <h2>Selected Race ID: <span th:text="${selectedRaceId}"></span></h2>-->
        <h2>Selected DRIVER OBJECT: <span th:text="${DRIVER}"></span></h2>
        <h2>Selected RACE OBJECT: <span th:text="${RACE}"></span></h2>
        <h2>Selected driver: <span th:text="${DRIVER.firstName + ' ' + DRIVER.lastName}"></span></h2>
        <h2>Selected race: <span th:text="${RACE.name}"></span></h2>


        <table class="table table-bordered" style="padding: 40px;">
            <tr>
                <th>Lapcount</th>
                <th>Driver</th>
                <th>Laptimes</th>

            </tr>
            <tr th:each="lap, i : ${Laps}">
                <td>
                    <span th:text="${i.index + 1}"></span>
                </td>
                <td>
                    <span th:text="${lap.driver.firstName}"></span>
                </td>

                <td>
                    <span th:text="${lap.lapTime}"></span>
                </td>
                <input type="hidden" id="lapTimes" name="lapTimes"
                    th:value="${#strings.arrayJoin(Laps.![lapTime], ',')}" />
            </tr>
        </table>

    </div>


    <button onclick="drawChart()">Piirra kaavio</button>

    <!-- Chartti divi -->
    <div style="position: relative; left: 25%;">
        <canvas id="myChart" style="width:100%;max-width:800px"></canvas>
    </div>

    <script>

    var lapTimes = [];

        // Hae kierrosajat array:in
        function getLapTimes() {
            // Get lap times from hidden input
            var lapTimesInput = document.getElementById('lapTimes');
            lapTimes = lapTimesInput.value.split(',');

 
        }

        // Call the function when the page loads
        getLapTimes();



        // piirrä chart

        function drawChart() {
        const xValues = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14];

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    data: [86.916, 97.861, 88.447, 83.720, 83.645, 83.852, 83.254, 82.767, 83.183, 82.978],
                    borderColor: "red",
                    fill: false
                }, {
                    data: lapTimes, // TOIMII
                    borderColor: "blue",
                    fill: false
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "X-axle: lapcount --- Y-axle: laptime",
                    fontSize: 16
                }
            }
        });
    }


    </script>
</body>

</html>