<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <!--     <script src="../js/laptimes.js"></script>
 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <title>Laptimes</title>
</head>

<body>
    <!-- HEADER -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="index" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="guesslist" class="nav-link">Guesses</a></li>
                <li class="nav-item"><a href="laptimes" class="nav-link active">Laptimes</a></li>
                <li class="nav-item"><a href="newguess" class="nav-link">New Guess</a></li>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
                </form>
            </ul>
        </header>
    </div>

    <!-- https://getbootstrap.com/docs/3.4/css/ Täällä dokumentaatio -->

    <!-- TEKSTI -->
    <h2 style="color: red;">Albon (RED)</h2>
    <h1>VS</h1>
    <h2 style="color: blue;">Alonso (BLUE)</h2>
    <button onclick="drawChart()">paina musta</button>
    <div style="position: relative; left: 25%;">
        <canvas id="myChart" style="width:100%;max-width:800px"></canvas>
    </div>


    <!-- LINE CHART TIEDOT -->
    <script>


        // TEXT filusta ei voi oikein lukea, estoja päällä, eli tee repo laptimes ja sitten FORM jolla valitaan mitä esitetään ja siitä piirrä chart
        // ESIMERKKI FORM täältä: https://pitwall.app/analysis/compare-lap-times?utf8=%E2%9C%93&season=76&race=1201&main_driver=17&compare_driver=22&button=

        /* TÄMÄ PIIRTÄÄ CHARTIN */

        function drawChart() {
            const xValues = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14];

            new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        data: [86.916, 97.861, 88.447, 83.720, 83.645, 83.852, 83.254, 82.767, 83.183, 82.978],
                        borderColor: "red",
                        fill: false
                    }, {
                        data: [83.294, 83.196, 82.795, 82.769, 83.345, 82.608, 82.939, 82.904, 83.187, 83.455],
                        /* data: file, */
                        borderColor: "blue",
                        fill: false
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "X-axle: lapcount --- Y-axle: laptime",
                        fontSize: 16
                    }
                }
            });
        }
    </script>

</body>

</html>